:root {
    --descriptions-color: #757575;
    --black-color: #000000;
    --accent-color: #2196f3;
    --white-color: #ffffff;
    --footer-color: #2f303a;
    --stress-color: #2196f3;
    --main-font-size: 14px;
    --letter-spacing: 0.03em;
    --letter-spacing-big: 0.06em;
    --social-media-icon: #afb1b8;
  }
  